<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
</head>

<body class="container_success">
    <div class="logged_in_div_left flex_column">
        <div class="flex logged_in_div_left_title">
            <div><h2>{{org_name}}</h2></div>
            <div>{{ lucide.icon('settings', stroke_width=1) }}</div>
        </div>
        <hr style="height:0.5px;width:75%;">
        <div class="flex flex_column success-buttons">
            <div class="flex sidebar-button">
                <div>{{ lucide.icon('settings-2', stroke_width=1) }}</div>
                <div>
                    <p>Dashboard</p>
                </div>
            </div>
            <div class="flex sidebar-button">
                <div>{{ lucide.icon('user', stroke_width=1) }}</div>
                <div>
                    <p>User Roles</p>
                </div>
            </div>
            <div class="flex sidebar-button audit-logs">
                <div>{{ lucide.icon('edit', stroke_width=1) }}</div>
                <div>
                    <p>Audit Logs</p>
                </div>
            </div>
            <div class="flex sidebar-button">
                <div>{{ lucide.icon('wrench', stroke_width=1) }}</div>
                <div>
                    <p>Settings</p>
                </div>
            </div>
        </div>
    </div>

    <div class="logged_in_div_right">
        <div class="logged_in_nav">
            <div class="flex">
                <div>
                    <a href="https://workos.com/docs" target="_blank"><button class='button nav-item'>Documentation</button></a>
                </div>
                <div>
                    <a href="https://workos.com/docs/reference" target="_blank"><button class='button nav-item'>API
                        Reference</button></a>
                </div>
                <div>
                    <a href="https://workos.com/blog" target="_blank"><button
                        class='button nav-item blog-nav-button'>Blog</button></a>
                </div>
                <div>
                    <a href="https://workos.com/" target="_blank">
                        <img class="nav-image" src="../static/images/workos_favicon.png" alt="link to workos.com">
                    </a> 
                </div>
            </div>
        </div>
        <div class="flex_column width-40vw logged_in_right_content">
            <div class="flex flex-start width-40vw page-title">
                <div><h2>Audit Logs</h2></div>
            </div>
            <div class="flex card width-40vw space-between ">
                <code class="org-id">{{organization_id}}</code>
                <div>                    
                    <a href="/logout"><button class="button">Change Org</button></a>
                </div>                
            </div>
            <div class="card width-40vw height-50vh">
                <div class="flex flex-start">
                    <div class="flex-column flex-start">
                        <div data-tab-target="#send-events" name='#send-events' class="flex space-evenly width-11vw content-button tab">
                            <div>{{ lucide.icon('send', stroke_width=1) }}</div>
                            <div>
                                <a href="#send-events" class="remove-style"><button class="remove-style">Send Events</button></a>
                            </div>                            
                        </div>
                        <div data-tab-target="#export-events" name='#export-events' class="flex space-evenly width-11vw content-button  tab">
                            <div>{{ lucide.icon('download', stroke_width=1) }}</div>
                            <div>
                                <a href="#export-events" class="remove-style"><button class="remove-style">Export Events</button></a>
                            </div>                            
                        </div>
                        <div class="flex space-evenly width-11vw content-button tab">
                            <div>{{ lucide.icon('eye', stroke_width=1) }}</div>
                            <div>
                                <a href="/events" class="remove-style"><button class="remove-style">Event Stream</button></a>
                            </div>                            
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="send-events" name='#send-events' data-tab-content>
                          <h3>Send "User Organization Deleted" Event</h3>
                          <form action="{{ url_for('send_event') }}" method="POST">
                            
                            <label for="">Event Name</label>
                            <input type="text">
                            <label for="">xxx</label>
                            <input type="text">
                            <label for="">xxx</label>
                            <input type="text">
                                                                                          
                                <div>
                                    <button class="" name="event" id="user_org_deleted" value="2" type="submit" onclick="showSnackbar()">                            
                                        <div class="flex width-100p">
                                            <p>User Organization Deleted</p> 
                                        </div>                           
                                    </button>                    
                                </div>
                            
                          </form>
                        </div>
    
                        <div id="export-events" name='#export-events' data-tab-content>
                            <form action="{{ url_for('get_events') }}" method="POST">
                                <div class="flex">
                                    <button class="" name="event" id="generate_csv" value="generate_csv" type="submit">                            
                                        <div class="flex width-100p">
                                            <p>Generate CSV</p> 
                                        </div>                           
                                    </button>                    
                                    <button class="" name="event" id="access_csv" value="access_csv" type="submit">                            
                                        <div class="flex width-100p">
                                            <p>Access CSV</p> 
                                        </div>                           
                                    </button> 
                                </div> 
                            </form>
                        </div>                                      
                      </div>                       
                </div>            
                

                
                
            </div>
            
            <div id="snackbar">Log Event Sent</div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script>
        function showSnackbar() {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 500);
        }

        const tabs = document.querySelectorAll('[data-tab-target]')
        const tabContents = document.querySelectorAll('[data-tab-content]')
        
        tabs.forEach(tab => {
            tab.addEventListener('click', () => {
                const target = document.querySelector(tab.dataset.tabTarget)
                tabContents.forEach(tabContent => {
                    tabContent.classList.remove('active')
                })
                tabs.forEach(tab => {
                    tab.classList.remove('active')
                })
                tab.classList.add('active')
                target.classList.add('active')            
                localStorage.setItem('selectedTab', target.getAttribute('name'))                
            })
        })
        
        tabs.forEach(tab => {
            if(localStorage.getItem('selectedTab') != undefined || null) {
                if(tab.getAttribute('name') == localStorage.getItem('selectedTab')){
                    const target = document.querySelector(tab.dataset.tabTarget)
                    tabContents.forEach(tabContent => {
                        tabContent.classList.remove('active')
                    })
                    tabs.forEach(tab => {
                        tab.classList.remove('active')
                    })
                    tab.classList.add('active')
                    target.classList.add('active')
                }                                                        
            }
        })
        


    </script>
</body>

</html>